<div class="wrapper">
  <h1 class="titlel">Listing posts</h1>
  <div>
      <div class="titles">
        <!-- <th colspan="3"></th> -->
      </div>
  </div>    
  <div>
    <% @posts.each do |post| %>
      <div class="dates">
        <strong  style="color: #ccc; font-size: 20px; font-weight: 100;"><%=  post.user.full_name %></strong>
        <p><%=  post.contenido  %></p>
        <div><%= link_to 'Mostrar', post %></div>
        <div><%= link_to 'Editar', edit_post_path(post) %></div>
        <div><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'En realidad quieres Eliminar?' } %></div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Nueva cancion', new_post_path %>
</div>  
