<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre usuario:</strong>
  <%= @post.user.full_name %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.contenido %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @post.fecha %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
